@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* font-family: "Orbitron", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto", sans-serif; */

:root{
    --cor1:#E8B83D; /*Amarelo Ferrugem - Cor do Wall-E, ideal para detalhes ou destaques*/
    --cor2:#9DA2A6; /*Cinza Metálico - CCor do metal, perfeita para o fundo ou para bordas*/ 
    --cor3:#6998C6; /*Azul Céu - Cor do céu, pode ser usada para detalhes ou no fundo*/
    --cor4:#C24F35; /*Vermelho Robô - Cor de Eve, ideal para botões ou elementos de destaque*/
}

header{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0 12px 0;
    margin-bottom: 12px;
    box-shadow: 0 4px 8px var(--cor2);
}

#logo{
    width: 200px;
    height: auto;
    align-items: center;
}

nav{
    width: 200px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
    font-family: "Orbitron", sans-serif;
    color: var(--cor4);
    font-size: 12px;
    font-weight: bolder;
    transition: .4s;
    cursor: pointer;
}

li:hover{
    color: #E8B83D;
    font-weight: bolder;
}

main{
    width: 100%;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 12px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2em;
}

.card:hover{
    transform: scale(1.02);
}

.card{
    width: 96%;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 12px;
    cursor: pointer;
    transition: 1s;
    
}

.walle{
    background-image: url("imagens/personagens/wall-e_capa.jpg");
}

.eva{
    background-image: url("imagens/personagens/e.v.e.jpeg");
}

.mo{
    background-image: url("imagens/personagens/m.o.jpg");
}

.mccrea{
    background-image: url("imagens/personagens/Capitão\ B.\ McCrea.jpeg");
}

.auto{
    background-image: url("imagens/personagens/A.U.T.O.png");
}

p{
    padding: 12px;
}

strong{
    color: var(--cor4);
}

footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#logo-footer{
    width: 160px;
    height: auto;
    align-items: center;
    border-radius: 12px;
    padding: 12px;
    margin: 12px;
    background-color: white;
}

span{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    padding-bottom: 20px;
}


@media(min-width: 360px){
    header{
        background-color: white;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 0 12px 0;
        margin-bottom: 12px;
        box-shadow: 0 4px 8px var(--cor2);
    }

    #logo{
        width: 200px;
        height: auto;
        align-items: center;
    }

    nav{
        width: 200px;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-family: "Orbitron", sans-serif;
        color: var(--cor4);
        font-size: 12px;
        font-weight: bolder;
        transition: .4s;
        cursor: pointer;
    }

    li:hover{
        color: var(--cor1);
        font-weight: bolder;
        background-color: var(--cor3);
        padding: 12px;
        border-radius: 12px;
    }

   
}

@media(min-width:540px){
    .card{
        background-position: 50% 24%;
    }
}

@media(min-width: 768px){
    header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 0 12px 0;
        margin-bottom: 12px;
        box-shadow: 0 4px 8px var(--cor2);
    }

    #logo{
        width: 200px;
        height: auto;
    }

    nav{
        width: 400px;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-family: "Orbitron", sans-serif;
        color: var(--cor4);
        font-size: 20px;
        font-weight: bolder;
    }
     
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    
    } 

    .card-content{
        display: grid;
        justify-content: space-evenly;
        padding: 0 0 20px 12px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        line-height: 1.2em;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12px;
    }

    
}


@media(min-width: 1024px){
    header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 0 12px 0;
        margin-bottom: 12px;
        box-shadow: 0 4px 8px var(--cor2);
    }

    #logo{
        width: 200px;
        height: auto;
    }

    nav{
        width: 600px;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-family: "Orbitron", sans-serif;
        color: var(--cor4);
        font-size: 20px;
        font-weight: bolder;
    }

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    
    } 

    .card {
        width: 92%;
        height: 360px;
        background-size: cover;
        background-position: 50% 36%;
        border-radius: 12px;
        cursor: pointer;
        transition: 1s
    }

    p{
        width: 400px;
        font-size: 16px;
    }
    
}

@media(min-width: 1280px){
    header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 0 12px 0;
        box-shadow: 0 4px 8px var(--cor2);
        margin-bottom: 32px;
    }

    #logo{
        width: 200px;
        height: auto;
    }

    nav{
        width: 600px;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-family: "Orbitron", sans-serif;
        color: var(--cor4);
        font-size: 20px;
        font-weight: bolder;
    }

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    

    p{
        width: 400px;
        font-size: 16px;
        
    }

}